
/* Page-scope EOU values */



/* Page-scope elements */

content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
top {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}
.top-rounded {
    border-radius: 25px;
}
content a {
    position: relative;
    top: 50vh;
}

/* Customization & Animations */

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

/* Constraits */

